html {
  background-color: white;
}

.logo {
  background-color: rgba(223, 255, 251, 0.842);
  width: 320px;
  height: 180px;
  padding: 10px;
}

.boxa {
  font-size: 35px;
  width: 200px;
  position: center;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  color: black;
  border-style: none;
  display: inline-block;
  font-family: ten-mincho, serif;
  font-style: normal;
  font-weight: 400;
  border: 4px solid #82636b;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
}

.kakakua {
  font-size: 30px;
}

.what_is_this {
  color: #000279;
  font-family: ten-mincho, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
}

.what_is_this_a {
  text-align: center;
  border: 4px solid #82636b;
  font-size: 50px;
  padding-top: 10px;
  color: #b0f6ff;
  font-family: ten-mincho, serif;
  font-style: normal;
  font-weight: 800;
  background-image: url(https://github.com/Takenoha/TakenohaProject/blob/master/back1.JPG?raw=true);
}

.what_is_this_b {
  font-size: 30px;
  color: #248;
}

.p {
  color: #48ff00;
}

.main_a {
  color: aqua;
}

.main_tp {
  color: purple;
  padding-top: 10px;
}

.ChangeElem_Panel {
  list-style: none;
  font-size: 30px;
  display: none;
  font-family: ten-mincho, serif;
  font-style: normal;
  font-weight: 800;
  -webkit-animation-name: fade-in4;
          animation-name: fade-in4;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in4 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in4 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.how_to_use_title {
  color: #0c007c;
  font-family: ten-mincho, serif;
  font-style: normal;
  font-weight: 600;
}

.boxb {
  font-size: 35px;
  width: 200px;
  position: center;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  color: black;
  border-style: none;
  display: inline-block;
  border: 4px solid #82636b;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
}

.how_to_use_a {
  background-color: rgba(152, 248, 255, 0.63);
  border: 4px solid #82636b;
  font-size: 40px;
  padding-top: 10px;
  padding-left: 10px;
  color: #01244e;
  text-align: center;
  font-family: ten-mincho, serif;
  font-style: normal;
  font-weight: 800;
}

.text_a {
  font-size: 32px;
}

footer {
  color: red;
}

.ChangeElem_Btn {
  font-size: 30px;
  width: 30%;
  padding: 10px;
  position: center;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #248;
  color: #fff;
  border-style: none;
  display: inline-block;
  font-family: ten-mincho, serif;
  font-style: normal;
  font-weight: 800;
}

.box {
  text-align: center;
  background-color: #fffcdc;
}

.Btn {
  margin: auto;
}

.kakakua {
  background-color: rgba(152, 248, 255, 0.63);
  border: 2px solid #82636b;
  font-family: ten-mincho, serif;
  font-style: normal;
  font-weight: 800;
}

.How_to {
  background-color: white;
}

.kiyaku {
  border: 4px solid #82636b;
  font-size: 40px;
  width: 220px;
  text-align: center;
  font-family: ten-mincho, serif;
  font-style: normal;
  font-weight: 800;
}

.etc {
  background-color: rgba(152, 248, 255, 0.63);
  border: 4px solid #82636b;
  font-family: ten-mincho, serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
}
